<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>SESSION_ID</includeMdcKeyName>
            <includeMdcKeyName>USER_ID</includeMdcKeyName>
            <includeMdcKeyName>GAME_ID</includeMdcKeyName>
            <includeMdcKeyName>REQUEST_ID</includeMdcKeyName>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/arkhamus.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/arkhamus.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>SESSION_ID</includeMdcKeyName>
            <includeMdcKeyName>USER_ID</includeMdcKeyName>
            <includeMdcKeyName>GAME_ID</includeMdcKeyName>
            <includeMdcKeyName>REQUEST_ID</includeMdcKeyName>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
        </encoder>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.arkhamusserver" level="INFO" />

    <!-- Framework Loggers -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>