svg {
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

polygon {
    filter: brightness(0.8);
}

a:link {
    color: orange;
}

a:visited {
    color: orange;
}

a:hover {
    color: green;
}

a:focus {
    color: green;
}

a:active {
    color: green;
}

body {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: #eee;
}

form {
    margin-top: 35px; /* Matches the header’s height */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3B0054;
    color: orange;
    text-align: center;
    height: 35px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3B0054;
    color: orange;
    text-align: center;
    height: 35px;
}

.footer a, .header a {
    margin: 40px;
}

.main {
    flex: 1; /* To make the main content area flexible */
    padding-top: 35px;
    padding-bottom: 35px;
}


.dots-container {
    position: relative;
    margin-top: 35px; /* Adjust top margin to account for the header height */
    margin-bottom: 35px; /* Adjust bottom margin to account for the footer height */
    z-index: 1; /* Ensures the dots are on top of other content */
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the dot */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.main-content {
    display: flex;
    flex-direction: row; /* Align children in a horizontal row */
    align-items: flex-start; /* Align items to the top */
    gap: 20px; /* Add a gap between the form and the SVG */
    padding: 20px; /* Optional: Add padding around the container */
}

.form-left {
    min-width: 200px; /* Define a fixed or minimum width for the form */
    margin: 0;
    flex-shrink: 0; /* Prevent the form from shrinking */
}

.svg-container {
    flex-grow: 1; /* Allow the SVG to take up the remaining space */
}

.dot:hover .tooltip {
    visibility: visible;
    opacity: 1;
}