.body {
    margin: 0;
    min-height: 100%;
    position: relative;
}

@font-face {
    font-family: 'Necrofonticon';
    src: url('../fonts/necrofonticon.ttf') format('truetype');
}

@font-face {
    font-family: 'MadnessScript';
    src: url('../fonts/madnessScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Bullskrit';
    src: url('../fonts/bullskrit.ttf') format('truetype');
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.square-button {
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid orange;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.square-button img {
    height: 20px;
    width: 20px;
    object-fit: scale-down;
    display: inline-block;
    font-weight: bold;
}

.long-button {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid orange;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

.footer, .header {
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #3B0054;
    color: orange;
    text-align: center;
    height: 35px;
}

.footer {
    bottom: 0;
}

.header {
    top: 0;
}

.footer a, .header a {
    margin: 40px;
}

.main {
    padding-top: 35px;
    padding-bottom: 35px;
}

a:link {
    color: orange;
}

a:visited {
    color: orange;
}

a:hover {
    color: green;
}

a:focus {
    color: green;
}

a:active {
    color: green;
}

input {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid orange;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

input:focus {
    border-color: green;
    box-shadow: 0 0 8px darkgreen;
}

select {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid orange;
    font-size: 15px;
    color: #333;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
}

select:focus {
    border-color: green;
    outline: none;
    box-shadow: 0 0 5px darkgreen;
}

.form-part {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid orange;
    background-color: lightgreen;
    border-radius: 5px;
}

.form-part label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-part label:hover {
    color: #666;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 5px;
}

.form-group input,
.form-group select {
    flex-grow: 1;
}

.step-content {
    display: flex;
    justify-content: center;
}

.status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.status-online {
    background-color: green;
}

.status-in_game {
    background-color: blue;
}

.status-in_lobby {
    background-color: darkviolet;
}

.status-afk {
    background-color: yellow;
}

.status-offline {
    background-color: red;
}

.icon-yes, .icon-no {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px; /* Explicitly match the span dimensions */
    background-repeat: no-repeat; /* Prevent any undesired repetition */
}

.icon-yes {
    background-image: url('../icon/yes_icon.png');
    display: inline-block;
    background-size: contain;
}

.icon-no {
    background-image: url('../icon/no_icon.png');
    display: inline-block;
    background-size: contain;
}

td.icon-column {
    width: 30px; /* Set this to a little more than the icon width, e.g., 20px + small margin */
    text-align: center; /* Center-align the icon to look better */
    padding: 0; /* Optional: Remove internal padding */
}
