<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Games</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
        <a th:href="@{/admin/browser/gamesStatistic}" title="Statistic">Statistic</a>
    </footer>
</div>

<div class="main">
    <h1>Games</h1>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th >Id</th>
            <th >State</th>
            <th >Game Type</th>
            <th >God</th>
            <th >Users</th>
            <th >Created</th>
            <th >Started</th>
            <th >Finished</th>
        </tr>
        <tr th:each="game : ${games}">
            <td >
                <a th:href="@{/admin/browser/game/{gameId}(gameId=${game.id})}" th:text="${game.id}"></a>
            </td>
            <td  th:text="${game.state}"></td>
            <td  th:text="${game.gameType}"></td>
            <td  th:text="${game.god?.name}"></td>
            <td
                th:text="${#strings.arrayJoin(game?.usersInGame, ', ')}"></td>
            <td  th:text="${game?.creation ?: ''}"></td>
            <td
                th:text="${game?.started ?: ''}"></td>
            <td
                th:text="${game?.finished ?: ''}"></td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
        <a th:href="@{/admin/browser/gamesStatistic}" title="Statistic">Statistic</a>
    </footer>
</div>
</body>
</html>