<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title>Game Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

<div class="main">
    <h1>Game Details</h1>

    <table>
        <tr>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">ID</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">State</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Game Type</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">God</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Token</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Created</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Started</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Finished</th>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.id ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.state ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.gameType ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.god?.title ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.token ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.creation ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.started ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.finished ?: ''}"></td>
        </tr>
    </table>

    <h2>Settings</h2>

    <table>
        <tr>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">level Id</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">level</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">lobby size</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">number of cultists</th>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.gameSessionSettings?.level?.levelId ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.gameSessionSettings?.level?.name ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.gameSessionSettings?.lobbySize ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${game?.gameSessionSettings?.numberOfCultists ?: ''}"></td>
        </tr>
    </table>

    <h2>Users in Game</h2>

    <table>
        <tr>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">User ID</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Role</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Class</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">User Name</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Is Host</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Game Skin</th>
        </tr>
        <tr th:if="${game?.usersInGame != null}" th:each="user : ${game.usersInGame}">
            <td style="border: 1px solid #000; padding: 8px; text-align: left;">
                <a th:href="@{/admin/browser/user/{userId}(userId=${user?.userId ?: ''})}"
                   th:text="${user?.userId ?: ''}">
                </a>
            </td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${user?.role?.userRole ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${user?.role?.userClass ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;" th:text="${user?.userName ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;" th:text="${user?.isHost ?: ''}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;"
                th:text="${user?.gameSkin?.skinColor ?: ''}"></td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

</body>
</html>