<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Levels</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

<div class="main">
    <h1>Levels</h1>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th>Id</th>
            <th>Latest version</th>
            <th>State</th>
        </tr>
        <tr th:each="level : ${levelInfo}">
            <td>
                <a th:href="@{/admin/browser/level/{levelId}(levelId=${level.levelId})}" th:text="${level.levelId}"></a>
            </td>
            <td th:text="${level.latestVersion}"></td>
            <td th:text="${level.state}"></td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>
</body>
</html>