<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Games</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

<div class="main">
    <h1>Levels</h1>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Id</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">Latest version</th>
            <th style="border: 1px solid #000; padding: 8px; text-align: left;">State</th>
        </tr>
        <tr th:each="level : ${levelInfo}">
            <td style="border: 1px solid #000; padding: 8px; text-align: left;">
                <a th:href="@{/admin/browser/level/{levelId}(levelId=${level.levelId})}" th:text="${level.levelId}"></a>
            </td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;" th:text="${level.latestVersion}"></td>
            <td style="border: 1px solid #000; padding: 8px; text-align: left;" th:text="${level.state}"></td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>
</body>
</html>