<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LevelPreview</title>
    <link rel="stylesheet" th:href="@{/css/mapPreviewStyle.css}"/>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
</head>
<body>

<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
        <a th:href="@{/admin/browser/levels}" title="Levels">Levels</a>
        <a th:href="@{/admin/browser/level/{levelId}(levelId=${levelGeometry.levelId})}" title="Level">Level</a>
    </footer>
</div>
<form th:action="@{/admin/browser/level/{levelId}/preview(levelId=${levelGeometry.levelId})}" method="post">
    <div class="row">
        <div class="checkbox-input">
            <input type="checkbox" id="zones" name="zones" value="true" checked = "checked" >
            <label for="zones"> Zones</label>
        </div>
        <div class="checkbox-input">
            <input type="checkbox" id="containers" name="containers" value="true" checked = "checked">
            <label for="containers"> Containers</label>
        </div>
        <div class="checkbox-input">
            <input type="checkbox" id="altars" name="altars" value="true" checked = "checked">
            <label for="altars"> Altars</label>
        </div>
    </div>
    <div class="row">
        <div class="checkbox-input">
            <input type="checkbox" id="lanterns" name="lanterns" value="true" checked = "checked">
            <label for="lanterns"> Lanterns</label>
        </div>
        <div class="checkbox-input">
            <input type="checkbox" id="questGivers" name="questGivers" value="true" checked = "checked">
            <label for="questGivers"> Quest Givers</label>
        </div>
        <div class="checkbox-input">
            <input type="checkbox" id="levelTasks" name="levelTasks" value="true" checked = "checked">
            <label for="levelTasks"> Level Tasks</label>
        </div>
    </div>
    <input type="hidden" id="levelId" name="levelId" th:value="${levelGeometry.levelId}">
    <input type="submit" value="Filter">
</form>
<svg th:width="${levelGeometry.width}" th:height="${levelGeometry.height}">
    <!-- Processing tetragons -->
    <th:block th:each="poly : ${levelGeometry.polygons}">
        <polygon th:attr="points=${poly.polygonPoints}"
                 th:style="'fill:' + ${poly.color.getCode()} + ';+fill-opacity:0.5' + ';stroke:black;stroke-width:1'"/>
    </th:block>
    <!-- Processing ellipses -->
    <th:block th:each="ellipse : ${levelGeometry.ellipses}">
        <ellipse th:attr="cx=${ellipse.cx},cy=${ellipse.cy},rx=${ellipse.rx},ry=${ellipse.ry}"
                 th:style="'fill:' + ${ellipse.color.getCode()} + ';stroke:black;stroke-width:1'"/>
    </th:block>
    <!--Processing keypoint-->
    <th:block th:each="point : ${levelGeometry.keyPoints}">
        <circle th:attr="cx=${point.pointX},cy=${point.pointY}" r="10" th:fill="${point.color.getCode()}" stroke="black"
                stroke-width="1"/>
    </th:block>
    <!-- Processing quests> -->
    <th:block th:each="poly : ${levelGeometry.questGivers}">
        <polygon th:attr="points=${poly.polygonPoints}"
                 th:style="'fill:' + ${poly.color.getCode()} + ';stroke:black;stroke-width:1'"/>
    </th:block>
    <th:block th:each="poly : ${levelGeometry.tasks}">
        <polygon th:attr="points=${poly.polygonPoints}"
                 th:style="'fill:' + ${poly.color.getCode()} + ';stroke:black;stroke-width:1'"/>
    </th:block>
</svg>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
        <a th:href="@{/admin/browser/levels}" title="Levels">Levels</a>
    </footer>
</div>

</body>

</html>

