<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="/icon/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}">Menu</a>
    </footer>
</div>

<div class="main">
    <h1>Login</h1>
    <form method="post" th:action="@{/public/browser/auth}" th:object="${login}">
        <label for="login">login</label><input id="login" placeholder="login" required th:field="*{login}" type="text"/>
        <label for="password">password</label><input id="password" placeholder="password" required th:field="*{password}"
                                                     type="text"/>
        <input type="submit" value="LogIn">
    </form>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

</body>
</html>