<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>
<div class="main">
    <div id="menu">
        <h1>Admin Panel</h1>
        <ul>
            <li><a th:href="@{/public/browser/login}">Auth</a></li>
            <li>Server state</li>
            <li><a th:href="@{/admin/browser/game}">Games List</a></li>
            <li><a th:href="@{/admin/browser/user}">Users List</a></li>
            <li>Base info</li>
            <li><a th:href="@{/admin/browser/levels}" title="Levels">Levels</a></li>
            <li><a th:href="@{/admin/browser/items}" title="Items">Items</a></li>
            <li><a th:href="@{/admin/browser/gods}" title="Gods">Gods</a></li>
            <li><a th:href="@{/admin/browser/abilities}" title="Abilities">Abilities</a></li>
            <li><a th:href="@{/admin/browser/classes}" title="Classes">Classes</a></li>
            <li>Tech info</li>
            <li><a th:href="@{/admin/browser/redis/statistic}" title="Redis statistic">Redis statistic</a></li>
            <li><a th:href="@{/admin/browser/netty/statistic}" title="Netty statistic">Netty statistic</a></li>
        </ul>
    </div>
</div>
<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>
</body>
</html>