<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Netty connections</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

<div class="main">
    <h1>Connections <span th:text="${nettyInfo.size}"></span></h1>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th >key</th>
            <th >game ID</th>
            <th >user</th>
        </tr>
        <tr th:each="info : ${nettyInfo.nettyInfos}">
            <td  th:text="${info.channelId}"></td>
            <td >
                <a th:href="@{/admin/browser/game/{gameId}(gameId=${info.gameSessionId})}" th:text="${info.gameSessionId}"></a>
            </td>
            <td >
                <a th:href="@{/admin/browser/user/{userId}(userId=${info.userId})}"
                   th:text="${info.userId} + ' ' + ${info.userNickname}">
                </a>
            </td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>
</body>
</html>