<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Level</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="/icon/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>

<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
        <a th:href="@{/admin/browser/levels}" title="Levels">Levels</a>
        <a th:href="@{/admin/browser/level/{levelId}(levelId=${levelId})}" title="Level">Level</a>
        <a th:href="@{/admin/browser/level/{levelId}/quests(levelId=${levelId})}" title="Quests">Quests</a>
    </footer>
</div>

<div class="main">
    <form
            method="post"
            th:action="@{/admin/browser/level/{levelId}/quest/{questId}(levelId=${quest.levelId}, questId=${quest.id})}"
            th:object="${quest}"
    >

        <div class="form-part">
            <label for="id" hidden="hidden"></label><input hidden="hidden" id="id" th:field="${quest.id}" type="text"/>

            <label for="name">Name:</label>
            <input id="name" th:field="${quest.name}" type="text"/>

            <label for="textKey">Text key:</label>
            <input id="textKey" th:field="${quest.textKey}" type="text"/>

            <label for="state">State:</label>
            <select id="state" th:field="${quest.state}">
                <option
                        th:each="state : ${possibleStates}"
                        th:selected="${state == quest.state.name}"
                        th:text="${state}"
                        th:value="${state}">
                </option>
            </select>

            <label for="difficulty">Difficulty:</label>
            <select id="difficulty" th:field="${quest.difficulty}">
                <option
                        th:each="difficulty : ${possibleDifficulties}"
                        th:selected="${difficulty == quest.difficulty.name}"
                        th:text="${difficulty}"
                        th:value="${difficulty}">
                </option>
            </select>
        </div>
        <!--        START QUEST GIVER-->
        <div class="form-part">
            <label for="startQuestGiver">Quest giver start</label>
            <select id="startQuestGiver" th:field="${quest.startQuestGiver.id}">
                <option
                        th:each="npc : ${possibleQuestGivers}"
                        th:selected="${npc.id == quest.startQuestGiver.id}"
                        th:text="${npc.name}"
                        th:value="${npc.id}">
                </option>
            </select>
        </div>
        <!--QUEST STEPS-->
        <div class="form-part" th:each="step, iterStatus : *{steps}">
            <div class="step-content">
                <div class="form-group">
                    <label th:for="${step.number}">Number</label>
                    <label>
                        <input th:field="*{steps[__${iterStatus.index}__].number}"
                               th:id="${step.number}"
                               type="text">
                    </label>
                    <label hidden="hidden">
                        <input hidden="hidden"
                               th:field="*{steps[__${iterStatus.index}__].id}"
                               th:id="${step.id}"
                               type="text"
                        >
                    </label>
                </div>
                <div class="form-group">
                    <label th:for="${step.levelTask.id}">Level Task Id</label>
                    <label>
                        <select th:field="*{steps[__${iterStatus.index}__].levelTask.id}"
                                th:id="${step.levelTask.id}">
                            <option th:each="task : ${possibleTasks}"
                                    th:text="${task.name}"
                                    th:value="${task.id}">
                            </option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <button
                            class="square-button"
                            th:onclick="'removeItem(\'' + ${levelId} + '\', \'' + ${quest.id} + '\', \'' + ${step.id} + '\');'">
                        <img alt="Remove" th:src="@{/icon/trash.png}">
                    </button>
                </div>
            </div>
        </div>
        <button class="long-button"
                id="addStep"
                th:attr="data-level-id=${levelId},data-quest-id=${quest.id}"
                type="button">
            Add step
        </button>
        <div class="form-part">
            <label for="endQuestGiver">Quest giver end</label>
            <select id="endQuestGiver" th:field="${quest.endQuestGiver.id}">
                <option
                        th:each="npc : ${possibleQuestGivers}"
                        th:selected="${npc.id == quest.endQuestGiver.id}"
                        th:text="${npc.name}"
                        th:value="${npc.id}">
                </option>
            </select>
        </div>
        <div>
            <input type="submit" value="Save">
        </div>

    </form>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
        <a th:href="@{/admin/browser/levels}" title="Levels">Levels</a>
        <a th:href="@{/admin/browser/level/{levelId}(levelId=${levelId})}" title="Level">Level</a>
        <a th:href="@{/admin/browser/level/{levelId}/quests(levelId=${levelId})}" title="Quests">Quests</a>
    </footer>
</div>
<script>
    document.getElementById('addStep').addEventListener('click', function () {
        let levelId = this.getAttribute('data-level-id');
        let questId = this.getAttribute('data-quest-id');

        let url = '/admin/level/' + levelId + '/quest/' + questId + '/addStep';
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: null
        })
            .then(() => {
                location.reload();
            })
            .catch((error) => console.error('Error:', error));

    });
</script>
<script>
    function removeItem(levelId, questId, stepId) {
        let url = '/admin/level/' + levelId + '/quest/' + questId + '/removeStep/' + stepId;
        console.log('Starting Fetch Call');
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            credentials: 'same-origin',
            body: null
        }).then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
            .then(() => {
                location.reload();
            })
            .catch((error) => {
                console.error('Fetch error:', error);
            });
        return false
    }
</script>

</body>
</html>