<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis statistic</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
</head>
<body>

<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

<div class="main">
    <h1>Resources</h1>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th >Name</th>
            <th >Size</th>
        </tr>
        <tr th:each="resource : ${redisInfo.redisResourceDtos}">
            <td  th:text="${resource.type}"></td>
            <td  th:text="${resource.size}"></td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

</body>
</html>