<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="/icon/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>
<div class="main">
    <h1>User Details</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>nick name</th>
            <th>email</th>
            <th>steam</th>
            <th>created</th>
        </tr>
        <tr>
            <td th:text="${user.userId}"></td>
            <td th:text="${user.nickName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.steam?:'-'}"></td>
            <td th:text="${user.creation?:''}"></td>
        </tr>
    </table>


    <h2>User games</h2>

    Wins: <span th:text="${data.wins}"></span>
    <br/>
    Looses: <span th:text="${data.losses}"></span>
    <br/>
    Win rate: <span th:text="${data.winrate}"></span>
    <br/>

    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th>Id</th>
            <th>State</th>
            <th>Game Type</th>
            <th>Win or loose</th>
            <th>My role</th>
            <th>My class</th>
            <th>God</th>
        </tr>
        <tr th:each="game : ${data.games}">
            <td>
                <a th:href="@{/admin/browser/game/{gameId}(gameId=${game?.gameSession?.id})}"
                   th:text="${game?.gameSession?.id}"></a>
            </td>
            <td th:text="${game?.gameSession?.state ?: ''}"></td>
            <td th:text="${game?.gameSession?.gameType ?: ''}"></td>
            <td th:text="${game?.winOrLoose ?: ''}"></td>
            <td th:text="${game?.roleInGame ?: ''}"></td>
            <td th:text="${game?.classInGame ?: ''}"></td>
            <td th:text="${game?.gameSession?.god?.name ?: ''}"></td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

</body>
</html>