<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="/icon/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>
<div class="main">
    <h1>Users</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nick Name</th>
            <th>Email</th>
            <th>Created</th>
            <th>Steam</th>
            <th>Status</th>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <a th:href="@{/admin/browser/user/{userId}(userId=${user.userId})}"
                   th:text="${user.userId}">
                </a>
            </td>
            <td th:text="${user.nickName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.creation?:''}"></td>
            <td class="icon-column">
                <span th:if="${user.steamId != null and !user.steamId.isEmpty()}"
                      th:title="'Steam initialized'"
                      th:class="'icon-yes'">
                </span>
                <span th:if="${user.steamId == null or user.steamId.isEmpty()}"
                      th:title="'Steam not initialized'"
                      th:class="'icon-no'">
                </span>
            </td>

            <td class="icon-column">
                <div th:class="|status-circle status-${user.status.name().toLowerCase()}|"
                     th:title="${user.status.name()}"></div>
            </td>
        </tr>
    </table>
</div>

<div class="footer">
    <footer>
        <a th:href="@{/public/browser/menu}" title="Menu">Menu</a>
    </footer>
</div>

</body>
</html>